In [3]:
import pickle
from pandas_plink import read_plink

In [2]:
#!pwd
(bim, fam, bed) = read_plink("./data_ignored/toy")

NameError: name 'read_plink' is not defined

In [3]:
pickle.dump(bed,open("./data_ignored/bed.p","wb"))

In [ ]:
pickle.dump(fam,open("./data_ignored/fam.p","wb"))

In [ ]:
pickle.bim(bed,open("./data_ignored/bim.p","wb"))

In [ ]:
toy = pickle.load(open('./data_ignored/toy.p',"rb"))

In [1]:
toy

NameError: name 'toy' is not defined

In [3]:
chrom1 = bim.query("chrom=='1'")

In [4]:
chrom1

        chrom              snp   cm        pos a0  a1        i
0           1      1:55588:C_T  0.0      55588  C   T        0
1           1      1:58396:C_T  0.0      58396  C   T        1
2           1      1:62745:C_G  0.0      62745  G   C        2
3           1     1:65024:C_CT  0.0      65024  C  CT        3
4           1      1:65030:A_T  0.0      65030  T   A        4
...       ...              ...  ...        ... ..  ..      ...
1299723     1  1:249225077:A_G  0.0  249225077  A   G  1299723
1299724     1  1:249228340:C_T  0.0  249228340  C   T  1299724
1299725     1  1:249228350:C_T  0.0  249228350  C   T  1299725
1299726     1  1:249229734:C_T  0.0  249229734  C   T  1299726
1299727     1  1:249229925:C_T  0.0  249229925  C   T  1299727

[1299728 rows x 7 columns]

In [ ]:
X = bed[chrom1.i.values, :].compute()