# Models

### Adding Libraries

In [2]:
import os

from tensorflow.keras import optimizers
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.layers import Dense, Dropout, Conv1D, Flatten, Activation, AveragePooling1D, MaxPooling1D
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.regularizers import l1_l2
#from talos.utils.gpu_utils import multi_gpu, parallel_gpu_jobs

#from helpers import get_available_gpus

import pdb

In [3]:
params = {
    "in_shape":784,
    "L1_out":32,
    "L1_act":"relu",
    "L2_our":10,
    "L2_act":"softmax"
}

model = Sequential()
model.add(Dense(params["L1_out"], activation = params["L1_act"], input_shape = (params["in_shape"],)))

In [4]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                25120
=================================================================
Total params: 25,120
Trainable params: 25,120
Non-trainable params: 0
_________________________________________________________________

In [4]:
from pandas_plink import read_plink
(bim, fam, G) = read_plink("../data_ignored/unrel_10K_EUR/unrel_10k_EUR")

Mapping files: 100%|██████████| 3/3 [01:12<00:00, 24.07s/it]

In [12]:
store G

Stored 'G' (Array)

In [13]:
bim.tail()

         chrom               snp   cm        pos a0 a1         i
16977410    25  XY:155184453:C_T  0.0  155184453  T  C  16977410
16977411    25  XY:155211793:A_G  0.0  155211793  G  A  16977411
16977412    25  XY:155221513:A_G  0.0  155221513  A  G  16977412
16977413    25  XY:155228901:A_G  0.0  155228901  A  G  16977413
16977414    25  XY:155229962:C_T  0.0  155229962  C  T  16977414

In [6]:
fam.tail()

          fid      iid father mother gender trait     i
9995  6024214  6024214      0      0      0    -9  9995
9996  6024847  6024847      0      0      0    -9  9996
9997  6024924  6024924      0      0      0    -9  9997
9998  6026360  6026360      0      0      0    -9  9998
9999  6026467  6026467      0      0      0    -9  9999

In [14]:
chrom1 = bim.query("chrom=='25'")

In [15]:
X = G[chrom1.i.values, :].compute()

In [21]:
X

array([[2., 2., 2., ..., 2., 2., 2.],
       [1., 2., 2., ..., 2., 2., 1.],
       [1., 2., 2., ..., 2., 2., 1.],
       ...,
       [2., 2., 2., ..., 2., 2., 2.],
       [2., 2., 2., ..., 1., 1., 2.],
       [2., 2., 2., ..., 2., 2., 2.]], dtype=float32)