# Models

### Adding Libraries

In [1]:
import os

import keras
import keras.callbacks
from tensorflow.keras import optimizers
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.layers import Dense, Dropout, Conv1D, Flatten, Activation, AveragePooling1D, MaxPooling1D
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.regularizers import l1_l2
from talos.utils.gpu_utils import multi_gpu, parallel_gpu_jobs

#from helpers import get_available_gpus

import pdb

Using TensorFlow backend.

In [2]:
params = {
    "in_shape":784,
    "L1_out":32,
    "L1_act":"relu",
    "L2_our":10,
    "L2_act":"softmax"
}

model = Sequential()
model.add(Dense(params["L1_out"], activation = params["L1_act"], input_shape = (params["in_shape"],)))

In [3]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                25120
=================================================================
Total params: 25,120
Trainable params: 25,120
Non-trainable params: 0
_________________________________________________________________

In [4]:
from pandas_plink import read_plink
DIR = !pwd
(bim, fam, G) = read_plink(f"{DIR[0]}/data/toy")

Mapping files: 100%|██████████| 3/3 [01:08<00:00, 22.98s/it]

In [5]:
bim.head()

  chrom           snp   cm    pos a0  a1  i
0     1   1:55588:C_T  0.0  55588  C   T  0
1     1   1:58396:C_T  0.0  58396  C   T  1
2     1   1:62745:C_G  0.0  62745  G   C  2
3     1  1:65024:C_CT  0.0  65024  C  CT  3
4     1   1:65030:A_T  0.0  65030  T   A  4

In [6]:
fam.tail()

          fid      iid father mother gender trait     i
9995  6024214  6024214      0      0      0    -9  9995
9996  6024847  6024847      0      0      0    -9  9996
9997  6024924  6024924      0      0      0    -9  9997
9998  6026360  6026360      0      0      0    -9  9998
9999  6026467  6026467      0      0      0    -9  9999

In [7]:
chrom1 = bim.query("chrom=='1'")

In [ ]:
X = G[chrom1.i.values, :].compute()