In [2]:
import pickle
import pandas as pd
import numpy as np
from pandas_plink import read_plink

In [3]:
#!pwd

(bim, fam, bed) = read_plink("./data_ignored/toy")

Mapping files: 100%|██████████| 3/3 [01:10<00:00, 23.59s/it]

In [9]:
bim.tail()

         chrom               snp   cm        pos a0 a1         i
16977410    25  XY:155184453:C_T  0.0  155184453  T  C  16977410
16977411    25  XY:155211793:A_G  0.0  155211793  G  A  16977411
16977412    25  XY:155221513:A_G  0.0  155221513  A  G  16977412
16977413    25  XY:155228901:A_G  0.0  155228901  A  G  16977413
16977414    25  XY:155229962:C_T  0.0  155229962  C  T  16977414

In [10]:
chrom22 = bim.query("chrom=='22'")

In [11]:
chrom22

         chrom              snp   cm       pos a0 a1         i
16494063    22  22:16051249:C_T  0.0  16051249  C  T  16494063
16494064    22  22:16053862:C_T  0.0  16053862  T  C  16494064
16494065    22  22:16054454:C_T  0.0  16054454  T  C  16494065
16494066    22  22:16057417:C_T  0.0  16057417  T  C  16494066
16494067    22  22:16339541:C_G  0.0  16339541  G  C  16494067
...        ...              ...  ...       ... .. ..       ...
16703824    22  22:51227159:C_T  0.0  51227159  C  T  16703824
16703825    22  22:51229656:A_G  0.0  51229656  A  G  16703825
16703826    22  22:51229805:C_T  0.0  51229805  C  T  16703826
16703827    22  22:51234199:C_T  0.0  51234199  C  T  16703827
16703828    22  22:51237215:C_T  0.0  51237215  T  C  16703828

[209766 rows x 7 columns]

In [ ]:
Ch22 = bed[chrom22.i.values, :].compute()